  <h1>Login</h1>
  <form action="/login" method="post">


    <% if(typeof errors !== 'undefined'){ %>
      <div class="alert alert-danger">
        <%=errors%>
      </div>
    <% } %>

    <div class="form-group">
    <label for="username">Username</label>
    <input name="username" type="text" class="form-control"/>
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" class="form-control"/>
    </div>

    <input class="btn btn-primary mr-3" type="submit" value="Login" />
    <a href='/google' class="btn btn-secondary" />via Google</a>
  </form>