  <h1>Signup</h1>
  <form action="/register" method="post">
    <div class="form-group">
      <label for="username">Choose a Username</label>
      <input name="username" class="form-control" type="text" placeholder="@username" />
    </div>

    <div class="form-group">
      <label for="email">Primary Email</label>
      <input name="email" class="form-control" type="email"/>
    </div>
    <div class="form-group">
      <label for="password">Choose a Password</label>
      <input name="password" class="form-control" type="password"/>
    </div>

    <input class="btn btn-primary" type="submit" value="Register"/>
  </form>