<h1>Amazon</h1>
<form action="/amazon" method="post" class="form-inline">
  <div class="form-group">
    
    <input name='product' value="B00008OE6I" placeholder="Product ID" type="text" class="form-control" id="staticEmail2">
  </div>
  <button type="submit" class="btn btn-primary">Find</button>
</form>


<% if(typeof data !== 'undefined'){ %>
  <div class="alert alert-success mt-3">
    <dl>
      <dt>Manufacturer</dt>
      <dd><%=data.Manufacturer%></dd>
      <dt>Product group</dt>
      <dd><%=data['ProductGroup']%></dd>
      <dt>Title</dt>
      <dd><%=data['Title']%></dd>
    </dl>
  </div>
<% }else if(typeof error !== 'undefined'){ %>
  <div class="alert alert-danger mt-3">
    <%=error%>
  </div>
<% } %>